<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table {
	border-collapse: collapse;
	width: 400px;
	margin: 20px auto;
}

td, th {
	border: 1px solid gray;
}
</style>
</head>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="/layer/layer.js" th:src="@{/layer/layer.js}"></script>
<body>
	<form th:action="@{/test}" method="POST">
	<input type="text" name="id"><input type="submit" value="查詢">
	</form>
	<div class="workingArea">
		<table>
			<thead>
				<tr>
					<td>id</td>
					<td>名称</td>
					<td>价格</td>
					<td>日期</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p:${ps}">
					<td th:text="${p.id}"></td>
					<td th:text="${p.name}"></td>
					<td th:text="${p.price}"></td>
					<td th:text="${#dates.format(p.date,'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="width: 100%; text-align: center">
		<form th:action="@{/upload}" enctype="multipart/form-data"
			method="POST">
			<input type="file" name="file" /><br /> <br /> <input 
				type="submit" value="Submit" th:onclick="'javascript:ooaa('+${msg}+')'"/>
		</form>
	</div>
	<!-- <a onclick="javascript:login()">请登录</a> -->
	<script type="text/javascript">
		function ooaa(data){
			alert(data);
		}
	</script>
</body>
</html>